### Importando a biblioteca do Pandas

Exercício 03 – Manipulando dados com Pandas
a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e
b) coloque em um dataframe.
c) Visualize o cabeçalho dos dados;
d) Visualize as últimas linhas;
e) Escreva um programa para renomear o cabeçalho da tabela com os
f) seguintes nomes:
![image.png](attachment:image.png)
g) Quais são os tipos de dados que temos no dataframe?
h) Há valores faltantes ou nulos?
i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.
j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e
salvar um arquivo em csv para com o nome de cada cargo:
▪ Supervisor de Vendas Pl
▪ Gerente Regional Jr.
▪ Supervisor de Vendas Sr
▪ Coordenador de Vendas Pl.
▪ Vendedor Jr.
▪ Vendedor Sr.
▪ Vendedor Pl.
▪ Gerente Regional Pl.
▪ Coordenador de Vendas Sr.
▪ Coordenador de Vendas Jr.
▪ Supervisor de Vendas Jr.

In [31]:
# Importando a biblioteca do Pandas
# Mapear o caminho e o nome do documento
# Atribuir os dados a um dataframe
# Visualizar o cabeçalho

import pandas as pd

#caminho = "C:\\Users\\FIC\\Documents\\ArturHerodeck-python\\Arquivos\\Vendas.xlsx" ---> Caminho externo

caminho = '../ArturHerodeck-python/Arquivos/Vendas.xlsx' # ---> Caminho interno no vscode
df = pd.read_excel(caminho, sheet_name='Planilha1') # ---> Só especificar a planilha se tiver mais de uma no arquivo  


df.columns = ['Data', 'Vendedor', 'Cargo','Cliente','UF','Vendas']

df.head()

        Data           Vendedor                    Cargo Cliente  UF   Vendas
0 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AL  3276.20
1 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AP  3005.86
2 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MA  8568.54
3 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MG  1344.27
4 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MS  7585.04

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   Cliente   130466 non-null  object
 4   UF        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

In [33]:
a = df['Vendas'].max()
b = df['Vendas'].min()
c = df['Vendas'].sum()
d = df['Vendas'].count()
e = df['Vendas'].mean()

print(a,b,c,d,e)

10000.0 1000.01 718501609.25 130466 5507.194282418408

### Filtrando dados de uma forma mais fácil

In [34]:
# Selecionar a coluna de interesse
df_cargos = df['Cargo'].drop_duplicates()

# Converter o df_cargos em lista
cargos = df_cargos.to_list()
cargos

['Supervisor de Vendas Pl',
 'Gerente Regional Jr.',
 'Supervisor de Vendas Sr',
 'Coordenador de Vendas Pl.',
 'Vendedor Jr.',
 'Vendedor Sr.',
 'Vendedor Pl.',
 'Gerente Regional Pl.',
 'Coordenador de Vendas Sr.',
 'Coordenador de Vendas Jr.',
 'Supervisor de Vendas Jr.']

In [35]:
for cargo in cargos:
    df_final = df[df['Cargo'] == cargo] # Filtra de acordo com os cargos
    caminho = './Relatórios Exercício 3/' # Caminho da pasta
    arquivo = cargo + '.xlsx' # Nome do arquivo
    df_final.to_excel(caminho + arquivo) # Gerando um arquivo em excel

In [36]:
df.head(1)

        Data           Vendedor                    Cargo Cliente  UF  Vendas
0 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AL  3276.2

In [39]:
df_vendedores = df['Vendedor'].drop_duplicates() # Definir uma variável e tirar as duplicadas

vendedores = df_vendedores.to_list() # Criar uma variável para transformar em uma lista

for vendedor in vendedores: # Para vendedor na variável vendedores
    df_final1 = df[df['Vendedor'] == vendedor] # Criando uma variável para gerar um arquivo
    caminho = './Relatórios Exercício 3/' # Criar uma variável para informar o caminho do arquivo
    arquivo1 = vendedor + '.xlsx' # Nome do arquivo que está vinculado a variável vendedor + a extensão para salvar
    df_final1.to_excel(caminho + arquivo1) # Direcionar o meu arquivo para excel por exemplo e concatenando caminho mais o final da extensão

In [ ]:
df_clientes = df['Cliente'].drop_duplicates() 
clientes = df_clientes.to_list() 

for vendedor in vendedores: 
    df_final1 = df[df['Vendedor'] == vendedor]
    caminho = './Relatórios Exercício 3/'
    arquivo1 = vendedor + '.xlsx' 
    df_final1.to_excel(caminho + arquivo1)