### Exercício 01 – Operações com Pandas
a) Abra o arquivo World Happiness.
b) Qual a média do score_felicidade?
c) Qual a soma do PIB?
d) Qual a soma do freedom e corrupção?
e) Há dados duplicados? Quantos? Verifique quais são eles?
f) Verifique a quantidade de dados faltantes.
g) Crie um dataframe onde os valores faltantes de score_felicidade sejam
substituídos por -9999.
h) Quantas e quais são as regiões existentes nos dados?
i) Verifique a frequência dos dados segundo suas regiões. Qual a região com maior
quantidade de dados? E a região com a menor quantidade?

In [36]:
import pandas as pd
caminho = './Arquivos/world_happiness_report_2015.csv'
df = pd.read_csv(caminho)

In [37]:
df.head(2)

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [38]:
# Calculando a média da coluna selecionada
mediaFelicidade = df['happiness score'].mean() # Coloco na variável para chamar no print
print(f'A média é{mediaFelicidade: .2f}') # Esse comando é usado para tratar a informação com 2 casas decimais

A média é 5.42

In [39]:
df['economy (GDP per Capita)'].sum()

141.37172

In [40]:
df[['freedom','trust (Government Corruption)']].sum()

freedom                          71.33320
trust (Government Corruption)    24.59645
dtype: float64

In [41]:
# Contar o número de registros duplicados na tabela
df.duplicated().sum()

6

In [42]:
# Filtrar os registros que estão duplicados na tabela
df[df.duplicated() == True]

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
34,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
35,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131

### Verifique a quantidade de dados faltantes

In [45]:
# Verificar a quantidade de dados faltantes

df.isna().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

### Crie um dataframe onde valores sejam substituídos

In [46]:
# Comando ele substitui um valor para um valor que foi definido

df = df.fillna(-9999)